<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>


    <!-- Bootstrap Links-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/0b9bd56e4a.js"></script>
    <!--end Bootstrap Links-->


    <!-- CDN - DataTable LINKs-->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.jqueryui.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.uikit.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/jquery.dataTables_themeroller.css"
        crossorigin="anonymous" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/jquery.dataTables.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <!-- end CDN - DataTable LINKs-->


</head>

<body>
    <!-- NAVIGATION NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Variable Bank</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/userFront}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/user/all}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTransfer" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Transfer Funds
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownTransfer">
                            <a class="dropdown-item" th:href="@{/transfer/betweenAccounts}">Yourself</a>
                            <a class="dropdown-item" th:href="@{/transfer/toSomeoneElse}">Others</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Me
                            <!-- <span th:text="${username}" ></span> -->
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
                            <a class="dropdown-item" th:href="@{/user/profile}">Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/logout}">Signout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end NAVIGATION NAVBAR-->


    <h4 class="text-center">Savings transaction history of <span class="display-4" th:text="${username}"></span></h4>
      <br>
      <br>

<div class="container">
    <div class="row col-md-12">
            <div class="table-responsive">
                    <table id="example" class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Post Date</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Available Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-th-each="savingsTransaction : ${savingsTransactionList}">
                                <td data-th-text="${savingsTransaction.date}">...</td>
                                <td data-th-text="${savingsTransaction.description}">...</td>
                                <td data-th-text="${savingsTransaction.type}">...</td>
                                <td data-th-text="${savingsTransaction.status}">...</td>
                                <td data-th-text="${savingsTransaction.amount}">...</td>
                                <td data-th-text="${savingsTransaction.availableBalance}">...</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    </div>
</div>






<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.jqueryui.min.js"
integrity="sha256-kWT2I9CDv5SowoYb8rAHuUBouBTE3lUdEpDrauNyQaA=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/scroller/2.0.0/js/dataTables.scroller.min.js" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.uikit.min.js"
integrity="sha256-bLebl8jmNnwZH4W4EsldxPgSMD9UBTgSQa4NOAiEGNk=" crossorigin="anonymous"></script>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"
integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.3.2/bootbox.min.js"
integrity="sha256-s87nschhfp/x1/4+QUtIa99el2ot5IMQLrumROuHZbc=" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/0b9bd56e4a.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
$(document).ready(function () {
    $('#example').DataTable();
});
</script>

<script src="js/timeout.js"></script>
</body>

</html>